#RewriteEngine on
#RewriteCond $1 !^(index\.php|images|assets|robots\.txt)
#RewriteRule ^(.*)$ index.php/$1 [L]

#RewriteEngine on
#RewriteCond $1 !^(index\.php|images|assets|robots\.txt)
#RewriteRule ^(.*)$ index.php/$1 [L]

#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php/$1 [L]

#DirectoryIndex index.php

RewriteEngine on
RewriteBase /
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond $1 !^(index\.php|robots\.txt)
RewriteCond $1 !^(index\.php|images|assets|robots\.txt)
RewriteRule ^(.*)$ index.php?/$1 [L]
